body{background-color: rgb(67, 68, 68);}

.jumbotron{
    background-image: url(rodellarPaisaje.jpg);
    background-size: cover;
    background-position: center;
    color:rgb(255, 255, 255);
    text-shadow: 3px,3px,3px,black;
    text-transform:capitalize;
    border-radius: 0%;
    margin:0%;
    }

    .jumbotron h1{
    text-transform: capitalize;
    color:rgb(255, 255, 158)
    }

    .navbar-brand{
        color:rgb(255, 255, 158) !important;
        text-transform: uppercase;
    }
    h2{
        text-align: center;
        color:rgb(255, 255, 158);
        padding: 10px; 
        text-transform: uppercase; 
        

    }
    .btn-danger{
        background-color:rgb(255, 255, 158); 
    }
    .row{
        padding: 5%;
        margin: 3px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5%;

    }
    

    
    .form-group{
        margin: 5px;
        padding: 5px;
    }

    